.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.bat
*.xlsx
*.docx
*.sublime*
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
Thumbs.db
desktop.ini
TODO
-grafo
archive.zip
list.txt
*.code-workspace
